# Gathering data

## Prepare library

In [1]:
import pandas as pd
import sqlalchemy as sqla

## Format berkas CSV

In [ ]:
df = pd.read_csv("data.csv", delimiter=',')

# Format berkas XLSX atau XLS

In [ ]:
df = pd.read_excel("data.xlsx", sheet_name='Sheet1')

# Format berkas JSON

In [ ]:
df = pd.read_json('data.json')

# Format berkas HTML

In [ ]:
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list"
df = pd.read_html(url)[0]

# Format berkas XML

In [ ]:
df = pd.read_xml("https://www.w3schools.com/xml/books.xml")

# Akses data dari SQL database

In [ ]:
# read_sql_table()untuk membaca SQL database table dan mempresentasikannya ke dalam bentuk pandas DataFrame.
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql_table("table_name", db)

# read_sql_query()untuk membaca SQL query dan mempresentasikannya ke dalam bentuk pandas DataFrame.
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql_query("SELECT * FROM table_name", db)

# read_sql()untuk membaca SQL query atau table dan mempresentasikannya ke dalam bentuk pandas DataFrame.
db = sqla.create_engine("sqlite:///mydata.sqlite")
pd.read_sql("SELECT * FROM table_name", db)

# Menggabungkan Beberapa Data Menjadi Satu DataFrame

In [ ]:
product_df = pd.read_csv("product.csv")
orders_df = pd.read_csv("orders.csv")

new_order_df = pd.merge(
    left=product_df,
    right=orders_df,
    how="inner",
    left_on="product_id",
    right_on="product_id"
)